<tr>
  <th class="align-middle">{{number}}</th>
  <td class="d-flex">
      <div class="small-image m-auto" style="background-image: url({{image}});"></div>
      <span class="text-table m-auto ms-3" style="font-weight: bold;">{{name}}</span>
  </td>
  <td class="align-middle">{{count}} tracks</td>
</tr>